<script type="text/x-jquery-tmpl" id="AP">
  <ul id="Player">
    <li>
      <ul class="apDisplay">
        <li><span  id="SongTitle"></span></li>
        <li><div id="duration"><div class="durationPercent"/></div><div id="durationText"><span id="Duration"></span></div></li>
      </ul>
    </li>
    <li>
      <ul  class="apNav">
        <li><div class="previous apButton"/></li>
        <li><div class="play apButton"/></li>
        <li><div class="next apButton"/></li>
        <li><div class="mute apButton"/></li>
        <li><div class="volDown apButton" /></li>
        <li><div class="volUp apButton" /></li>
        <li class="last"><div class="volDisplay"><div class="volPercent"/></div></li>
      </ul>
    </li>
</ul>
</script>
