.pagination 
{
    
    font-size: 80%;
    margin-top:10%;
    margin-left:25%;
    width:150px;
    /*margin-top:10%;
    margin-left:30px;*/    

}
        
.pagination a {
    text-decoration: none;
	border: solid 1px Goldenrod;
	color: Goldenrod;
	
}

.pagination a, .pagination span {
    display: block;
    float: left;
    padding: 0.3em 0.5em;
    margin-right: 5px;
	margin-bottom: 5px;
	min-width:1em;
	text-align:center;

}

.pagination .current {
    background: Goldenrod;
    color: Red;
	border: solid 1px #AAE;
}

.pagination .current.prev, .pagination .current.next{
	color:Goldenrod;
	border-color:Red;
	background:transparent;
}
